# DonorsChoose.org exploratory data analysis

Prerequisite: [data](https://www.kaggle.com/donorschoose/datasets) have been downloaded into the data directory, and files have been gzipped

In [47]:
ls -al /data

total 1346768
drwxr-xr-x  8 root root       256 Jun 10 14:29 ./
drwxr-xr-x 46 root root      4096 Jun 12 19:46 ../
-rwxr-xr-x  1 root root 248649041 May 14 17:28 Donations.csv.gz*
-rwxr-xr-x  1 root root  54034301 May 14 17:27 Donors.csv.gz*
-rwxr-xr-x  1 root root 813408699 May 14 17:27 Projects.csv.gz*
-rwxr-xr-x  1 root root 223356307 May 14 17:27 Resources.csv.gz*
-rwxr-xr-x  1 root root   3550946 May 14 17:28 Schools.csv.gz*
-rwxr-xr-x  1 root root   9033218 May 14 17:27 Teachers.csv.gz*

In [49]:
!gunzip -c /data/Projects.csv.gz | wc -l

5020519

In [2]:
import pandas as pd
import numpy as np

### Donations

In [3]:
donationsDF = pd.read_csv('/data/Donations.csv.gz', compression='gzip', nrows=3)
donationsDF

,Project ID,Donation ID,Donor ID,Donation Included Optional Donation,Donation Amount,Donor Cart Sequence,Donation Received Date
0,000009891526c0ade7180f8423792063,688729120858666221208529ee3fc18e,1f4b5b6e68445c6c4a0509b3aca93f38,No,178.37,11,2016-08-23 13:15:57
1,000009891526c0ade7180f8423792063,dcf1071da3aa3561f91ac689d1f73dee,4aaab6d244bf3599682239ed5591af8a,Yes,25.00,2,2016-06-06 20:05:23
2,000009891526c0ade7180f8423792063,18a234b9d1e538c431761d521ea7799d,0b0765dc9c759adc48a07688ba25e94e,Yes,20.00,3,2016-06-06 14:08:46

### Donors

In [4]:
donorsDF = pd.read_csv('/data/Donors.csv.gz', compression='gzip', nrows=3)
donorsDF

,Donor ID,Donor City,Donor State,Donor Is Teacher,Donor Zip
0,00000ce845c00cbf0686c992fc369df4,Evanston,Illinois,No,602
1,00002783bc5d108510f3f9666c8b1edd,Appomattox,other,No,245
2,00002d44003ed46b066607c5455a999a,Winton,California,Yes,953

### Projects

In [57]:
projectsDF = pd.read_csv('/data/Projects.csv.gz', compression='gzip', nrows=100)
projectsDF.head(3)

,Project ID,School ID,Teacher ID,Teacher Project Posted Sequence,Project Type,Project Title,Project Essay,Project Short Description,Project Need Statement,Project Subject Category Tree,Project Subject Subcategory Tree,Project Grade Level Category,Project Resource Category,Project Cost,Project Posted Date,Project Expiration Date,Project Current Status,Project Fully Funded Date
0,7685f0265a19d7b52a470ee4bac883ba,e180c7424cb9c68cb49f141b092a988f,4ee5200e89d9e2998ec8baad8a3c5968,25,Teacher-Led,Stand Up to Bullying: Together We Can!,Did you know that 1-7 students in grades K-12 ...,Did you know that 1-7 students in grades K-12 ...,"My students need 25 copies of ""Bullying in Sch...",Applied Learning,"Character Education, Early Development",Grades PreK-2,Technology,361.80,2013-01-01,2013-05-30,Fully Funded,2013-01-11
1,f9f4af7099061fb4bf44642a03e5c331,08b20f1e2125103ed7aa17e8d76c71d4,cca2d1d277fb4adb50147b49cdc3b156,3,Teacher-Led,Learning in Color!,"Help us have a fun, interactive listening cent...","Help us have a fun, interactive listening cent...","My students need a listening center, read alon...","Applied Learning, Literacy & Language","Early Development, Literacy",Grades PreK-2,Technology,512.85,2013-01-01,2013-05-31,Expired,NaN
2,afd99a01739ad5557b51b1ba0174e832,1287f5128b1f36bf8434e5705a7cc04d,6c5bd0d4f20547a001628aefd71de89e,1,Teacher-Led,Help Second Grade ESL Students Develop Languag...,Visiting or moving to a new place can be very ...,Visiting or moving to a new place can be very ...,My students need beginning vocabulary audio ca...,Literacy & Language,ESL,Grades PreK-2,Supplies,435.92,2013-01-01,2013-05-30,Fully Funded,2013-05-22

In [65]:
list(projectsDF['Project Need Statement'])[0:3]

['My students need 25 copies of "Bullying in Schools" for each to keep, "Stand Up For Yourself and Your Friends: Dealing With Bullies", "A Smart Kid\'s Guide to Online Bullying" and a tablet to research specific websites that talk about prevention strategies on bullying.',
 'My students need a listening center, read along books on CD, and headphones for the computers.',
 'My students need beginning vocabulary audio cards and a CD player so they can be able to see and hear words in the correct use for language development. ']

One project in four is not fully funded

In [72]:
import random
projectsDF2 = pd.read_csv('/data/Projects.csv.gz', compression='gzip', header=0, skiprows=lambda i: i % 1000 != 0, usecols=['Teacher ID','Project Current Status'])
projectsDF2.groupby('Project Current Status')['Project Current Status'].count()

Project Current Status
Expired         268
Fully Funded    802
Live             40
Name: Project Current Status, dtype: int64

### Resources

In [38]:
resourcesDF = pd.read_csv('/data/Resources.csv.gz', compression='gzip', nrows=3)
resourcesDF

,Project ID,Resource Item Name,Resource Quantity,Resource Unit Price,Resource Vendor Name
0,000009891526c0ade7180f8423792063,chair move and store cart,1.0,350.00,NaN
1,00000ce845c00cbf0686c992fc369df4,sony mdr zx100 blk headphones,40.0,12.86,CDW-G
2,00002d44003ed46b066607c5455a999a,"gaiam kids stay-n-play balance ball, grey",4.0,19.00,Amazon Business

### Schools

In [39]:
schoolsDF = pd.read_csv('/data/Schools.csv.gz', compression='gzip', nrows=3)
schoolsDF

,School ID,School Name,School Metro Type,School Percentage Free Lunch,School State,School Zip,School City,School County,School District
0,00003e0fdd601b8ea0a6eb44057b9c5e,Capon Bridge Middle School,rural,56,West Virginia,26711,Capon Bridge,Hampshire,Hampshire Co School District
1,00004e32a448b4832e1b993500bf0731,The Woodlands College Park High School,urban,41,Texas,77384,The Woodlands,Montgomery,Conroe Ind School District
2,0002021bb799f28de224f1acc1ff08c4,Samantha Smith Elementary School,suburban,2,Washington,98074,Sammamish,King,Lake Washington Sch Dist 414

### Teachers

In [40]:
teachersDF = pd.read_csv('/data/Teachers.csv.gz', compression='gzip', nrows=3)
teachersDF

,Teacher ID,Teacher Prefix,Teacher First Project Posted Date
0,00000f7264c27ba6fea0c837ed6aa0aa,Mrs.,2013-08-21
1,00002d44003ed46b066607c5455a999a,Mrs.,2016-10-23
2,00006084c3d92d904a22e0a70f5c119a,Mr.,2016-09-08

## Initial thoughts
- The various text descriptions from the Projects data offer a wealth of data about much needed course _materials and experiences_ in USA public schools
- One in four requests are not fully funded. Hypotheses as to why this is the case:
  - not enough available money from donors => remedy:
      - find more donors
      - increase money per donor
  - enough money available, but no suitable projects are found
      - help find the right project

## Possible projects
- Obvious: help match donors to projects (recommender)
    - For a given project, find the best donors
    - For a given donor, find the best projects
- Help teachers find other teachers with similar issues (community building)
    - by analyzing the contents of their projects